/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
:root {
  --background-color: #000028;
  --cover: url(../images/cover-image-dark.png);
  --header-color: #db00ff;
  --accent-color: #ff0070;
  --content-title-color: #ff0070;
  --main-font: "IBM Plex Mono";
  --regular-font-size: 18px;
  --main-font-color: #f1b2ce;
  --decor-font-color: #000028;
  --rec-visibility: visible;
  --decoration-color: #ff0070;
  --shadow-color: #ff0070;
  --padding-page-global: 10px;
  --margin-between-sections: 50px;
}

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--cover);
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color);
  font-size: var(---regular-font-size, 18px);
  font-family: var(--main-font, "IBM Plex Mono", monospace);
  color: var(--main-font-color);
  padding: 10px;
  font-weight: 400;
  line-height: 130%;
}

/* Первый экран страницы */
.header {
  display: grid;
  /* grid-template-rows: repeat(3, 1fr); */
  min-inline-size: 355px;
  min-block-size: 648px;
}

/* REC с точкой в правом верхнем углу */
.header__decorated-element {
  display: flex;
  justify-content: end;
  gap: 10px;
  align-items: center;
  position: absolute;
  inset-inline-end: 10px;
  visibility: var(--rec-visibility);
}

/* Надпись REC */
.header__decorated-element::before {
  content: "rec";
  text-transform: uppercase;
  color: var(--accent-color);
  line-height: 25px; /* 138.889% */
}

/* Точка с тенью */
.header__decorated-element::after {
  /* display: inline-block; */
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background: var(--decoration-color);
  box-shadow: 0px 0px 2px 2px var(--decoration-color);
}

/* Украшательные рамки для header и footer */
.decorated-zone {
  position: relative;
}

/* верхняя рамка */
.decorated-zone::before {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--decoration-color);
  border-inline-end: 1px solid var(--decoration-color);
  position: absolute;
  right: 0px;
  top: 0px;
}

/* нижняя рамка */
.decorated-zone::after {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--decoration-color);
  border-block-end: 1px solid var(--decoration-color);
  position: absolute;
  left: 0px;
  bottom: 0px;
}

/* Блок с переключением темы */
.header__theme-menu {
  justify-self: end;
  align-self: center;
}

/* Список кнопок тем */
.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Кнопка переключения темы */
.header__theme-menu-button {
  display: block;
  color: var(--decoration-color);
  text-transform: lowercase;
  border: none;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  inline-size: 70px;
  block-size: 26px;
}

.header__theme-menu-button:hover {
  border: none;
  outline: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button_active {
  border: 1px solid var(--decoration-color);
}

/* Область с главным заголовком страницы  */
.header__title {
  color: var(--header-color);
  text-shadow: 4px 4px 0px var(--shadow-color);
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
  align-self: center;
}

/* Область с подзаголовком страницы */
.header_subtitle {
  align-self: center;
}

/*Заголовки без подложки*/
.title {
  font-weight: 700;
  /* align-self: center; */
  font-size: 18px;
  color: var(--content-title-color);
}
/* Заголовки с подложкой */
.title-accent {
  background-color: var(--accent-color);
  color: var(--decor-font-color);
  font-size: 18px;
}

/* ссылка в тексте */
.text-link {
  color: inherit;
  text-decoration: none;
  text-shadow: 1px 2px 0px var(--shadow-color);
}

/* Секции с текстом */
.content-section-why,
.content-section-what,
.content-section-advices {
  display: grid;
  gap: 20px;
  margin-block-start: var(--margin-between-sections);
}

/* Заголовки с подложкой, с шрифтом без болда */
.title-accent-regular-font {
  background-color: var(--accent-color);
  color: var(--decor-font-color);
  font-size: 18px;
  font-weight: 400;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}

/* Карточки с советами */
.article-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Список карточек со советами */
.article-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Галерея картинок */
.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block-end: var(--margin-between-sections);
}

/* Картинка в галерее */
.gallery-item {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

/* Подвал */
.footer {
  min-inline-size: 355px;
  min-block-size: 648px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-block-start: var(--margin-between-sections);
}

/* Текст в подвале */
.footer__title {
  color: var(--header-color);
  text-shadow: 2px 2px 0px var(--shadow-color);
  font-size: 116px;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
}

@media (width >= 768px) and (width < 1024px) {
  .root {
    --padding-page-global: 20px;
  }

  .page {
    max-inline-size: 768px;
    padding: var(--padding-page-global);
  }

  .header {
    min-inline-size: calc(100vw - 2 * 20px);
    min-block-size: calc(100vh - 2 * 20px);
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  .header__theme-menu {
    grid-area: 1 / 2 / 1 / 3;
  }

  /* Область с главным заголовком страницы  */
  .header__title {
    /* font-size: 120px; */
    justify-self: start;
    grid-area: 2 / 1 / 3 / 3;
  }

  /* Область с подзаголовком страницы */
  .header_subtitle {
    grid-area: 3 / 2 / 4 / 3;
  }

  .content-section-why {
    margin: 80px 0;
    grid-template-columns: 1fr 2fr;
  }

  .content-section-what {
    margin: 80px 0;
    grid-template-columns: repeat(3, 1fr);
  }

  .content-section-what .title {
    grid-column: 1 / 2;
  }
  .content-section-what .article-list {
    grid-column: 1 /4;
  }

  .content-section-advices {
    margin: 80px 0;
    grid-template-columns: 1fr 2fr;
  }

  .content-section-advices .title {
    grid-row: 1 / 3;
  }

  .gallery {
    display: grid;
    margin: 80px 0;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
  .gallery .title {
    grid-column: 1 / 4;
  }
  .gallery-item:nth-child(2) {
    grid-column: 1 /3;
  }
  .gallery-item:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .gallery-item:nth-child(4) {
    grid-area: 3 / 1 / 5 / 2;
  }

  .gallery-item:nth-child(6) {
    grid-area: 4 / 2 / 4 / 4;
  }
  .footer {
    min-inline-size: calc(100vw - 20px * 2);
    min-block-size: calc(100vh - 20px * 2);
  }
}

@media (width >= 1024px) {
  /* .root {
    --padding-page-global: 20px;
  } */

  .page {
    padding: 20px;
  }

  .header {
    max-inline-size: min(calc(1440px - 2*20px) , calc(100vw - 2*20px));
    max-block-size: max(calc(1024px - 2*20px), calc(100vh - 2*20px));
    grid-template-columns: repeat(2, 1fr);
  }
  /* Блок с переключением темы */

  .header__theme-menu {
    grid-area: 1 / 1/ 2/ 3;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    /* font-size: 157px; */
    grid-area: 2 / 1 / 3 / 3;
  }

  .header_subtitle {
    grid-area: 3 / 2 / 4 / 3;
  }

  .content-section-why {
    margin: 80px 0;
    grid-template-columns: 1fr 2fr;
  }


  .content-section-what {
    margin: 80px 0;
    grid-template-columns: repeat(3, 1fr);
  }

  .content-section-what .title {
    grid-column: 1 / 2;
  }
  .content-section-what .article-list  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-area: 2 / 1 / 3 / 4;
    gap: 20px;
  }
  .gallery {
    display: grid;
    margin: 80px 0;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
  .gallery .title {
    grid-column: 1 / 4;
  }
  .gallery-item:nth-child(2) {
    grid-column: 1 /3;
  }
  .gallery-item:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .gallery-item:nth-child(4) {
    grid-area: 3 / 1 / 5 / 2;
  }

  .gallery-item:nth-child(6) {
    grid-area: 4 / 2 / 4 / 4;
  }
  .footer {
    min-inline-size: calc(100vw - 20px * 2);
    min-block-size: calc(100vh - 20px * 2);
  }
  .content-section-advices {
    margin: 80px 0;
    grid-template-columns: 1fr 2fr;
  }
  
 .content-section-advices .title {
    grid-row: 1 / 3;
  }


  }




}
